<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<% if @album.photos.size > 0 %>
	<h2>Photos</h2>
	<% for photo in @album.photos %>
	  <div class="col-xs-6 col-sm-3 col-md-2">
	    <div class="thumbnail">
	      <%= link_to(photo) do %>
	        <%= image_tag photo.image.url(:thumb), class: "img-thumbnail" %>
	      <% end %>
	      <div class="caption">
	        <h3><%= photo.name %></h3>
	      </div>
	    </div>
	  </div>
	<% end %>
<% end %>

<% if @album.user == current_user %>         
  <%= link_to 'Edit', edit_album_path(@album) %>
<% end %>
