<ul class="nav nav-sidebar">
	<li><h3>Photos
		<button type="button" class="btn btn-primary" id="quick-upload">
			<span class="glyphicon glyphicon-plus"></span>
		</button></h3></li>
	<li><%= link_to "Favorites", photos_path%></li>
	<li>
		<div class="panel-group" id="category-accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" id ="category-heading" role="tab"> 
					<a class="collapsed" data-toggle="collapse" data-parent="#category-accordion" href="#category-collapse" role="button" aria-expanded="true" aria-controls="category-collapse">Category 
						<span class="caret"></span>
					</a>
				</div>
				<div class="panel-collapse collapse" id="category-collapse" role="tabpanel" aria-labelledby="category-heading">
					<ul class="list-group">
						<li class="list-group-item">
							<%= link_to "Animal", photos_path(category: 'animal') %>
						</li>
						<li class="list-group-item">
							<%= link_to "Fashion", photos_path(category: 'fashion') %>
						</li>
						<li class="list-group-item">
							<%= link_to "Landscape", photos_path(category: 'landscape') %>
						</li>
						<li class="list-group-item">
							<%= link_to "People", photos_path(category: 'people') %>
						</li>
						<li class="list-group-item">
							<%= link_to "Plant", photos_path(category: 'plant') %>
						</li>
						<li class="list-group-item">
							<%= link_to "Portrait", photos_path(category: 'portrait') %>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</li>
	<li><%= link_to "All", photos_path %></li>
	<li><%= link_to "Mine", photos_path%></li>
</ul>
<ul class="nav nav-sidebar">
	<li><%= link_to(new_photo_path) do %>
    <span class="glyphicon glyphicon-cloud-upload"></span> New Photo
  <% end %>
  </li>
  <li>
  <a class="btn btn-primary" data-toggle="collapse" href="#trash" aria-expanded="false" aria-controls="trash">Trash Bin</a>
  <div class="collapse" id="trash">
  	<button type="button" class="btn btn-primary" id="restore">
			<span class="glyphicon glyphicon-share-alt"></span>
		</button>
		<button type="button" class="btn btn-primary" id="delete">
			<span class="glyphicon glyphicon-trash"></span>
		</button>
  	<div class="well" id="trashbin">
	  	1.Drag and drop photos here to add them to trash 2.Empty the trash using the trash can icon or restore them with the restore all icon
		</div>
	</div></li>
</ul>
